export EPCC_CLIENT_ID=DPjTL3UTelnbwTawuEjvTime3KxGtpaPPbxFvkoD60
export EPCC_CLIENT_SECRET=wMlK4YvSNpa3SVw3401ADAqmBmyXu1Ed8KEkUIlAsl
export EPCC_API_BASE_URL=https://epcc-integration.global.ssl.fastly.net